@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>@Model.Message</h1>


<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@user.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./Create">Create</a>
</form>

